apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: mtls-client
  namespace: mtls-demo
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: mtls-client
  minReplicas: 2
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
